.feedback {

  &__image-container {
    background-image: image-set(
      url("/images/feedback-page/clouds-img@1X.png") 1x,
      url("/images/feedback-page/clouds-img@2X.png") 2x,
      url("/images/feedback-page/clouds-img@1X.webp") 1x,
      url("/images/feedback-page/clouds-img@2X.webp") 2x
    );
    background-repeat: no-repeat;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 30px 100px 30px;
    padding-top: 120px;
  }

  &__contacts-info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__contacts-info [class*="cont-"] {
    margin: 0;
    font-size: var(--secondary-header-size);
    line-height: 0.9;
    margin-bottom: 32px;
  }

  &__cont-phone {
    margin-bottom: 0;
  }

  .section-header {
    margin-bottom: 64px;
  }


  @media only screen and (max-width: 480px) {
    .section-header {
      display: none;
    }

    &__container {
      display: flex;
      flex-direction: column;
      margin: 53px 16px 0px 16px;
      padding-top: 0;
    } 

    &__contacts-info {
      margin-bottom: 24px;
      margin-left: 57px;
    }
    
    &__contacts-info [class*="cont-"] {
      font-size: 24px;
      margin-bottom: 13px;
    }
  }
}