.founder-page {
  position: relative;
  height: 599px;
}

.founder-page .decorative__container::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 347px;
  left: 467px;
  width: 291px;
  height: 55px;
  background-image: url("images/founder-page/Frame.svg");
}

.founder__img {
  position: relative;
  top: 100px;
  left: 30px;
  width: 500px;
  height: 419px;
  background-image: image-set(
    url("images/founder-page/Founder@1X.jpg") 1x,
    url("images/founder-page/Founder@2X.jpg") 2x
  );
  border-radius: 24px;
}

.founder-page .section__header {
  position: absolute;
  top: 193px;
  left: 578px;
}

.founder-content {
  position: absolute;
  top: 331px;
  left: 790px;
  max-width: 378px;
}

@media only screen and (max-width: 480px) {
  .founder-page {
    position: relative;
    height: 419px;
  }
  
  .founder-page .decorative__container::before {
    content: none;
  }
  
  .founder__img {
    position: relative;
    top: 191px;
    left: 16px;
    width: 288px;
    height: 180px;
    background-image: image-set(
      url("images/founder-page/Founder-mobile@1X.jpg") 1x,
      url("images/founder-page/Founder-mobile@2X.jpg") 2x
    );
  }
  
  .founder-page .section__header {
    position: absolute;
    top: 36px;
    left: 16px;
  }
  
  .founder-content {
    margin: 0;
    position: absolute;
    top: 87px;
    left: 16px;
    max-width: 265px;
  }
}