.footer-page {
  background-image: image-set(
    url("images/footer-page/x-symbol@1X.png") 1x,
    url("images/footer-page/x-symbol@2X.png") 2x
  );
  background-repeat: no-repeat;
  background-position: 400px 0px;
  // height: 450px;
}

.upper-part {
  display: grid;
  grid-template-columns: 324px 328px;
  column-gap: 488px;
  margin-bottom: 169px;
  padding-top: 32px;
  padding-left: 30px;
  padding-right: 30px;
}

.nav__list.footer__nav__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.socials__box {
  display: flex;
  flex-direction: column;
}

.socials__header {
  line-height: 36px;
  font-size: 24px;
  margin-left: auto;
}

.socials__list {
  margin: 0;
  padding: 0;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.social__item {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
}

.social__item.fb {
  background: url("images/footer-page/facebook.svg") no-repeat 50% 50%;
  background-color: rgba(49, 91, 239, 1);
}
.social__item.inst {
  background: url("images/footer-page/instagram.svg") no-repeat 50% 50%;
  background-color: rgba(49, 91, 239, 1);
}
.social__item.tw {
  background: url("images/footer-page/twitter.svg") no-repeat 50% 50%;
  background-color: rgba(49, 91, 239, 1);
}
.social__item.in {
  background: url("images/footer-page/linkedin.svg") no-repeat 50% 50%;
  background-color: rgba(49, 91, 239, 1);
}
.social__item.tg {
  background: url("images/footer-page/telegram.svg") no-repeat 50% 50%;
  background-color: rgba(49, 91, 239, 1);
}
.social__item.wp {
  background: url("images/footer-page/whatsapp.svg") no-repeat 50% 50%;
  background-color: rgba(49, 91, 239, 1);
}

.lower-part {
  display: grid;
  grid-template-columns: 412px 426px 302px;
  margin-top: auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 32px;
}

.footer-logo {
  width: 249px;
  height: 125px;
  margin-top: auto;
  grid-column-start: 1;
}

.main-text {
  margin: 0;
  width: 396px;
  font-size: 24px;
  margin-top: 27px;
  padding-bottom: 26px;
  grid-column-start: 2;
}

.policy-terms {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 27px;
  grid-column-start: 3;
}

.term {
  font-family: "Manrope", sans-serif;
}

.term__link {
  color: rgba(102, 221, 141, 1);
}


@media only screen and (max-width: 480px) {
  .upper-part {
    // display: grid;
    grid-template-columns: 64px 1fr;
    column-gap: 88px;
    margin-bottom: 52px;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }
  
  .nav__list.footer__nav__list {
    flex-direction: column;
  }

  .socials__header {
    line-height: 24px;
    font-size: 16px;
    margin-left: 0;
  }

  .socials__list {
  flex-wrap: wrap;
  width: 128px;
  justify-content: flex-start;
  gap: 8px;
  }

  .social__item {
    width: 24px;
    height: 24px;
  }
  .social__item.fb,
  .social__item.inst,
  .social__item.tw,
  .social__item.in,
  .social__item.tg,
  .social__item.wp {
    background-size: 50%;
  }

  .lower-part {
    display: grid;
    grid-template-columns: 288px;
    grid-template-rows: auto 109px auto;
    padding: 0;
    margin: 0 16px 16px;
  }
  
  .footer-logo {
    width: 218px;
    height: 109px;
    margin-top: 0;
    grid-column-start: 1;
    grid-row-start: 2;
  }
  
  .main-text {
    width: 288px;
    margin-top: 32px;
    padding-bottom: 0;
    grid-column-start: 1;
    grid-row-start: 3;
  }
  
  .policy-terms {
    margin-bottom: 51px;
    margin-top: 0;
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .term {
    font-size: 14px;
    line-height: 21.86px;
  }
}