.image-container-feedback {
  background-image: image-set(
    url("images/feedback-page/clouds-img@1X.png") 1x,
    url("images/feedback-page/clouds-img@2X.png") 2x
  );
  background-repeat: no-repeat;
}

.feedback-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 30px 100px 30px;
  padding-top: 120px;
}

.contacts-info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.contacts-info [class^="contacts-"] {
  margin: 0;
  font-size: 64px;
  line-height: 58.56px;
  margin-bottom: 32px;
}

.contacts-info .contacts-phone {
  margin-bottom: 0;
}

.feedback-page .section__header {
  margin-bottom: 64px;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 559px;
  height: 743px;
  background: rgba(104, 104, 104, 0.26);
  border-radius: 32px;
  padding: 32px 32px 27px 32px;
  position: relative;
  backdrop-filter: blur(5px);
}

.form__title {
  font-size: 64px;
  margin-bottom: 32px;
  line-height: 58.56px;
}

input::placeholder {
  color: rgba(255, 255, 255, 1);

}

.feedback-form [class$="__area"] {
  font-family: var(--ff-ss-b);
  font-size: 24px;
  line-height: 30.3px;
  margin-right: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(235, 235, 235, 1);
  color: #fff;
  margin-bottom: 24px;
  width: 485px;
  padding-bottom: 10px;
}


.datepicker-toggle__area {
  display: inline-block;
  position: relative;
}

.datepicker-toggle-button {
  position: absolute;
  left: 95%;
  top: 0;
  width: 24px;
  height: 24px;
  background-image: url("images/feedback-page/Calendar_Week.svg");
}

.datepicker-input {
  position: absolute;
  left: 60%;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  box-sizing: border-box;
}

.datepicker-input::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}


.textarea__label {
  font-family: var(--ff-ss-b);
  font-size: 24px;
  line-height: 30.3px;
}

.text__area {
  resize: none;
  overflow: auto;
}

.select__wrapper {
  position: relative;
  display: inline-block;
}

.select__area {
  appearance: none;
  position: relative;
}

.select__area:focus {
  outline: none;
}

.select__wrapper::after {
  content: url("images/feedback-page/Caret_Down.svg");
  position: absolute;
  top: 10%;
  left: 95%;
  pointer-events: none;
}

.checkbox__container {
  display: grid;
  grid-template-columns: 24px 1fr;
  cursor: pointer;
}

.checkbox__container input[type="checkbox"] {
  display: none;
}

.checkbox__container .custom__checkbox {
  height: 16px;
  width: 16px;
  background-image: url("images/feedback-page/Square.svg");
  background-size: cover;
  margin: 4px;
}

.checkbox__container input[type="checkbox"]:checked + .custom__checkbox {
  background-image: url("images/feedback-page/Square_Check.svg");
}

.checkbox__container .agreenment {
  margin-left: 8px;
  font-size: 14px;
  line-height: 17.68px;
  align-self: center;
}

.feedback-form .btn-small {
  margin-top: 27px;
}


@media only screen and (max-width: 480px) {
  .feedback-page .section__header {
    display: none;
  }

  .feedback-container {
    display: flex;
    flex-direction: column;
    margin: 53px 16px 0px 16px;
    padding-top: 0;
  } 

  .contacts-info {
    margin-bottom: 24px;
    margin-left: 57px;
  }
  
  .contacts-info [class^="contacts-"] {
    font-size: 24px;
    line-height: 21.96px;
    margin-bottom: 13px;
  }

  .feedback-form {
    width: 288px;
    height: 505px;
    border-radius: 24px;
    padding: 16px;
    margin-bottom: 33px;
  }
  
  .form__title {
    font-size: 32px;
    margin-bottom: 24px;
    line-height: 28.96px;
  }

  .feedback-form [class$="__area"] {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    line-height: 21.86px;
    margin-right: 0px;
    margin-bottom: 16px;
    width: 256px;
    padding-bottom: 5px;
  }
  
  .datepicker-toggle-button {
    left: 90%;
  }
  
  .datepicker-input {
    left: 25%;
    width: 75%;
  }
  
  .textarea__label {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    line-height: 21.86px;
  }
  
  // .text__area {
  //   resize: none;
  //   overflow: auto;
  // }
  
  .select__wrapper::after {
    top: 0;
    left: 91%;
  }

  .checkbox__container .custom__checkbox {
    margin: 4px;
  }
  
  .checkbox__container .agreenment {
    margin-left: 8px;
    margin-top: 4px;
  }
  
  .feedback-form .btn-small {
    margin-top: 16px;
    max-width: 256px;
  }
  
}