@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

.about {
  position: relative;
  --anim-width: clamp(500px,  85vw, 1139px);
  --anim-height: calc(var(--anim-width) / 3.14);
  --anim-mob-width: clamp(288px, 40vw, 650px);
  --anim-mob-height: calc(var(--anim-mob-width) / 1.8);

  &__content {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
  }

  &__image-container {
    position: relative;
    width: var(--anim-width);
    height: var(--anim-height);
    margin: 0 auto;
    margin-top: 120px;
  }

  &__image {
    position: relative;
    width: 100%;
    height: 100%;
    background: image-set(
      url("/images/about-us-page/backgr-img1X.jpg") 1x,
      url("/images/about-us-page/backgr-img2X.jpg") 2x,
      url("images/about-us-page/backgr-img1X.webp") 1x,
      url("images/about-us-page/backgr-img2X.webp") 2x
      );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 65%;
    border-radius: 220px;
  }

  &__image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, rgba(17, 43, 69, 0.44) 0%, rgba(17, 43, 69, 0) 61.33%);
    border-radius: 220px;
    z-index: 1;
  }

  &__image::after {
    position: absolute;
    content: "";
    top: 0; left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    filter: blur(calc(var(--anim-height) / 9));
    background-image: linear-gradient(var(--rotate), rgba(49, 91, 239, 1), rgba(102, 221, 141, 1));
    animation: spin 2.5s linear infinite;
    border-radius: 200px;
  }

  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto 1fr;
    row-gap: 24px;
    margin: 0 30px;
    margin-bottom: 100px;
  }

  &__decor-wrapper {
    position: relative;
    grid-column: 2;
    grid-row: 1/-1;
    width: clamp(260px, 39vw, 550px);
  }

  &__decor-element {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -10;
  }

  &__decor-element:nth-child(2) {
    right: 30px;
  }

  &__decor-element:last-child {
    top: -50px;
  }

  &__title {
    grid-column: 1/-1;
    grid-row: 1;
    font-size: clamp(55px, 5.3vw, 64px);
    line-height: 0.9;
    margin: -15px 0 0 124px;
    max-width: 70vw;
    position: relative;
    z-index: 2;
  }

  &__main-text {
    grid-column: 1/-1;
    grid-row: 2;
    margin: 0;
    margin-left: 124px;
    max-width: 40vw;
  }

  &__btn-container {
    grid-column: 1;
    grid-row: 3;
  }

  &__btn {
    margin-left: 124px;
    margin-top: 8px;
  }


  @media only screen and (orientation: portrait) {
    &__content {
      max-width: 60vw;
      min-width: 288px;
    }  

    &__image-container {
      width: clamp(288px, 65vw, 650px);
      height: var(--anim-mob-height);
      margin-top: 56px;
    }

    &__wrapper {
      margin: 0;
      margin-bottom: 20px;
    }
  
    &__decor-wrapper {
      grid-row: 1/-1;
      width: 24px;
    }
  
    &__decor-element {
      top: -50px;
      left: 10px;
    }
  
    &__decor-element:nth-child(2) {
      display: none;
    }
    
    &__title {
      font-size: 32px;
      margin: 0;
      margin-top: 24px;
      min-width: 288px;
    }

    &__main-text {
      grid-column: 1/-1;
      margin: 0;
      max-width: fit-content;
    }

    &__btn-container {
      grid-column: 1/-1;
    }

    &__btn {
      margin: 0;
    }
  }
}