.feedback {
  
  &__wrapper {
    background-image: image-set(
      url("/images/feedback-page/clouds-img@1X.png") 1x,
      url("/images/feedback-page/clouds-img@2X.png") 2x,
      url("/images/feedback-page/clouds-img@1X.webp") 1x,
      url("/images/feedback-page/clouds-img@2X.webp") 2x
    );
    background-repeat: no-repeat;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 120px 30px 100px 30px;
    max-width: 1200px;
    margin: 0 auto;
  }

  &__contacts-info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__cont-email,
  &__cont-phone {
    margin: 0;
    font-size: var(--secondary-header-size);
    line-height: 0.9;
    margin-bottom: 32px;
  }
  
  &__cont-phone {
    margin-bottom: 0;
  }
  
  &__section-header {
    font-size: var(--primary-header-size);
    line-height: 0.9;
    margin-bottom: 64px;
  }


  @media only screen and (max-width: 480px) {
    &__section-header {
      display: none;
    }

    &__content {
      max-width: fit-content;
      margin: 0 auto;
      margin-top: 53px;
      display: flex;
      flex-direction: column;
      padding: 0;
    } 

    &__contacts-info {
      margin-bottom: 24px;
      margin-left: 57px;
    }
    
    &__cont-email,
    &__cont-phone {
      font-size: 24px;
      margin-bottom: 13px;
    }
  }
}