.feedback {
  
  &__wrapper {
    background-image: image-set(
      url("/images/feedback-page/clouds@1X.png") 1x,
      url("/images/feedback-page/clouds@2X.png") 2x,
      url("/images/feedback-page/clouds@1X.webp") 1x,
      url("/images/feedback-page/clouds@2X.webp") 2x
    );
    background-repeat: no-repeat;
    background-position: -550px 0;
  }

  &__content {
    padding: 120px 2.5vw 100px 2.5vw;
    display: flex;
    gap: 2.5vw;
    max-width: 1200px;
    margin: 0 auto;
  }

  &__contacts-info {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__cont-email,
  &__cont-phone {
    margin: 0;
    font-size: clamp(35px, 5.3vw, 66px);
    line-height: 0.9;
    margin-bottom: 32px;
  }
  
  &__cont-phone {
    margin-bottom: 0;
  }
  
  &__section-header {
    font-size: clamp(75px, 10.7vw, 130px);
    line-height: 0.9;
    margin-bottom: 64px;
  }


  @media only screen and (orientation: portrait) {
    &__section-header {
      display: none;
    }

    &__content {
      max-width: fit-content;
      margin: 0 auto;
      margin-top: 53px;
      display: flex;
      flex-direction: column;
      padding: 0;
      padding-bottom: 33px;
    } 

    &__contacts-info {
      align-self: center;
    }
    
    &__cont-email,
    &__cont-phone {
      font-size: clamp(24px, 5vw, 60px);
      margin-bottom: 13px;
    }

    &__cont-phone {
      margin-bottom: 0;
    }
  }
}