.footer {

  &__wrapper {
    background-image: image-set(
      url("/images/footer-page/x-symbol@1X.png") 1x,
      url("/images/footer-page/x-symbol@2X.png") 2x,
      url("/images/footer-page/x-symbol@1X.webp") 1x,
      url("/images/footer-page/x-symbol@2X.webp") 2x
    );
    background-repeat: no-repeat;
    background-position: 400px 0px;
  }

  &__upper-part {
    display: grid;
    grid-template-columns: 324px 328px;
    column-gap: 488px;
    margin-bottom: 169px;
    padding-top: 32px;
    padding-left: 30px;
    padding-right: 30px;
  }

  &__nav-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__socials-box {
    display: flex;
    flex-direction: column;
  }

  &__socials-header {
    font-size: 24px;
    line-height: 1.5;
    margin-left: auto;
  }

  &__socials-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 8px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 8px;
  }

  &__social-item {
    display: grid;
    width: 48px;
    height: 48px;
    background-color: var(--primary-color);
    border-radius: 50%;
    cursor: pointer;
    place-items: center;
  }

  &__icon {
    display: grid;
    max-width: 100%;
    height: auto;
  }

  &__lower-part {
    display: grid;
    grid-template-columns: 412px 426px 302px;
    margin-top: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 32px;
  }

  &__logo-box {
    width: 249px;
    height: 125px;
    margin-top: auto;
    grid-column-start: 1;
  }

  &__logo {
    max-width: 100%;
    height: auto;
  }

  &__main-text {
    margin: 0;
    width: 396px;
    font-size: 24px;
    line-height: 1.5;
    margin-top: 27px;
    padding-bottom: 26px;
    grid-column-start: 2;
  }

  &__policy-terms {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 27px;
    grid-column-start: 3;
  }

  &__term {
    margin-bottom: 8px;
    line-height: 1.4;
  }

  &__term:last-child {
    margin-bottom: 0;
  }
  
  .footer__term-link {
    font-family: var(--tertiary-font-fam);
    color: var(--secondary-color);
    text-decoration: underline;
  }


  @media only screen and (max-width: 480px) {
    &__upper-part {
      grid-template-columns: 64px 1fr;
      column-gap: 88px;
      margin-bottom: 52px;
      padding-top: 16px;
      padding-left: 16px;
      padding-right: 16px;
    }
    
    &__nav-list {
      flex-direction: column;
    }

    &__nav-item {
      margin-bottom: 8px;
    }

    &__socials-header {
      font-size: 16px;
      margin-left: 0;
    }

    &__socials-list {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 8px;
      max-width: min-content;
    }
    
    &__social-item {
      width: 24px;
      height: 24px;
    }
    
    &__icon {
      max-width: 50%;
      height: auto;
    }

    &__lower-part {
      display: grid;
      grid-template-columns: 288px;
      grid-template-rows: auto 109px auto;
      padding: 0;
      margin: 0 16px 16px;
    }
    
    &__logo-box {
      width: 218px;
      height: 109px;
      margin-top: 0;
      grid-row-start: 2;
    }
    
    &__logo {
      max-width: 218px;
    }

    &__main-text {
      width: 288px;
      margin-top: 32px;
      padding-bottom: 0;
      grid-column-start: 1;
      grid-row-start: 3;
    }
    
    &__policy-terms {
      margin-bottom: 51px;
      margin-top: 0;
      grid-column-start: 1;
      grid-row-start: 1;
    }

    &__term {
      font-size: 14px;
      line-height: 1.6;
    }
  }
}