.footer {
  background-color: rgba(8, 29, 49, 1);

  &__wrapper {
    width: 100%;
    background-image: image-set(
      url("/images/footer-page/symbol-white@1X.png") 1x,
      url("/images/footer-page/symbol-white@2x.png") 2x,
      url("/images/footer-page/symbol-white@1X.webp") 1x,
      url("/images/footer-page/symbol-white@2x.webp") 2x
    );
    background-repeat: no-repeat;
    background-position: 65% 50%;
  }

  &__content {
    max-width: 1200px;
    margin: 0 auto;
  }

  &__upper-part {
    display: flex;
    margin-bottom: 169px;
    padding: 32px 30px 0 30px;
  }

  &__nav-list {
    display: flex;
    justify-content: flex-start;
    gap: 3vw;
    margin: 0;
    margin-right: auto;
    padding: 0;
    list-style: none;
    max-width: fit-content;
  }

  &__nav-item {
    margin: 0;
  }

  &__socials-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: auto;
  }

  &__socials-header {
    font-size: 24px;
    line-height: 1.5;
    margin-left: auto;
  }

  &__socials-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 8px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 8px;
    margin-left: auto;
  }

  &__social-item {
    display: grid;
    width: 48px;
    height: 48px;
    background-color: var(--primary-color);
    border-radius: 50%;
    place-items: center;
  }

  &__social-item:hover {
    background-color: rgba(49, 70, 239, 1);
  }

  &__social-item:active {
    background-color: rgba(49, 40, 239, 1);
  }
  
  &__icon {
    display: grid;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }

  &__lower-part {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    margin-top: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 32px;
  }

  &__logo-box {
    display: inline-block;
    width: 249px;
    height: 125px;
    margin-right: auto;
  }

  &__logo {
    width: 100%;
    height: 100%;
  }

  &__main-text {
    margin: 0;
    max-width: 396px;
    font-size: 24px;
    line-height: 1.5;
    margin-top: 27px;
    padding-bottom: 26px;
  }

  &__policy-terms {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 27px;
  }

  &__term {
    margin-bottom: 8px;
    line-height: 1.4;
  }

  &__term:last-child {
    margin-bottom: 0;
  }
  
  &__term-link {
    font-family: var(--tertiary-font-fam);
    color: var(--secondary-color);
    text-decoration: underline;
  }


  @media only screen and (orientation: portrait) {
    
    &__content {
      max-width: 60vw;
      min-width: 288px;
    }

    &__upper-part {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 88px;
      margin-bottom: 52px;
      padding-top: 16px;
      padding-left: 16px;
      padding-right: 16px;
    }
    
    &__nav-list {
      flex-direction: column;
      gap: unset;
      margin-right: auto;
    }

    &__nav-item {
      margin-bottom: 8px;
    }

    &__socials-header {
      font-size: 16px;
      margin-left: 0;
    }

    &__socials-list {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 8px;
      margin-left: auto;
    }
    
    &__social-item {
      width: 24px;
      height: 24px;
    }
    
    &__icon {
      max-width: 50%;
      height: auto;
    }

    &__lower-part {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto 109px auto;
      padding: 0;
      margin-left: 16px;
      margin-right: 16px;
    }
    
    &__logo-box {
      width: 218px;
      height: 109px;
      margin-top: 0;
      grid-row-start: 2;
    }
    
    &__logo {
      max-width: 218px;
    }

    &__main-text {
      margin-top: 32px;
      margin-bottom: 16px;
      padding-bottom: 0;
      grid-column-start: 1;
      grid-row-start: 3;
    }
    
    &__policy-terms {
      margin-bottom: 51px;
      margin-top: 0;
      grid-column-start: 1;
      grid-row-start: 1;
    }

    &__term {
      font-size: 14px;
      line-height: 1.6;
    }
  }
}