.founder {
  position: relative;
  height: 599px;
  
  &__content {
    max-width: 1200px;
    margin: 0 auto;
  }

  &__decorative-container::before {
    content: url("/images/founder-page/Frame.svg");
    display: inline-block;
    position: absolute;
    top: 347px;
    left: 467px;
    width: 291px;
    height: 55px;
  }
  
  // &__animation-container {
  //   display: block;
  //   position: absolute;
  //   top: 160px;
  //   right: -180px;
  //   width: 288px;
  //   height: 288px;
  //   background-color: rgba(102, 221, 141, .3);
  //   border-radius: 50%;
  //   filter: blur(100px);
  //   // opacity: 0%;
  //   transition: all 1s;
  // }
  
  // &__animation-container:hover {
  //   opacity: 100%;
  // }

  &__section-header {
    position: absolute;
    top: 193px;
    left: 578px;
    font-size: var(--primary-header-size);
    line-height: 0.9;
  }

  &__img-box {
    display: inline-block;
    position: relative;
    top: 100px;
    left: 30px;
    max-width: 100%;
    height: auto;
  }

  &__img {
    border-radius: 24px;
    max-width: 100%;
  }

  &__main-text {
    position: absolute;
    top: 331px;
    left: 790px;
    max-width: 378px;
  }
  

  @media only screen and (max-width: 480px) {
    & {
      height: 419px;
    }

    &__content {
      max-width: fit-content;
      margin: 0 auto;
    }
    
    &__decorative-container::before {
      content: none;
    }
    
    &__section-header {
      top: 36px;
      left: unset;
      font-size: 48px;
    }
    
    &__img-box {
      top: 191px;
      left: unset;
      max-width: 288px;
      height: 180px;
      background-size: cover;
      border-radius: 24px;
      overflow: hidden;
    }
    
    &__main-text {
      margin: 0;
      position: absolute;
      top: 87px;
      left: unset;
      max-width: 265px;
    }
  }
}