.founder {
   &__content {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr 1fr);
    grid-template-rows: repeat(1, 1fr 1fr);
    gap: 30px;
    margin-left: 30px;
    margin-right: 30px;
  }

  // &__decorative-container::before {
  //   content: url("/images/founder-page/Frame.svg");
  //   // display: inline-block;
  //   // position: absolute;
  //   // top: 347px;
  //   // left: 467px;
  //   width: 291px;
  //   height: 55px;
  // }
  
  // &__animation-container {
  //   display: block;
  //   position: absolute;
  //   top: 160px;
  //   right: -180px;
  //   width: 288px;
  //   height: 288px;
  //   background-color: rgba(102, 221, 141, .3);
  //   border-radius: 50%;
  //   filter: blur(100px);
  //   // opacity: 0%;
  //   transition: all 1s;
  // }
  
  // &__animation-container:hover {
  //   opacity: 100%;
  // }

  &__section-header {
    margin-right: auto;
    margin-top: auto;
    font-size: clamp(80px, 10.7vw, 130px);
    line-height: 0.9;
  }

  &__img-box {
    grid-row: 1/-1;
    max-width: 100%;
    height: auto;
  }
  
  &__img {
    border-radius: 24px;
    max-width: 100%;
    min-width: 250px;
  }

  &__main-text {
    margin: 0;
    margin-left: auto;
    max-width: 378px;
  }
  

  @media only screen and (orientation: portrait) {
    &__content {
      margin: 0 auto;
      max-width: 50vw;
      min-width: 288px;
    }
    
    &__wrapper {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto 1fr;
      gap: 10px;
      justify-items: center;
      vertical-align: middle;
      margin: 0 auto;
    }

    &__decorative-container::before {
      content: none;
    }
    
    &__section-header {
      font-size: 48px;
      margin-top: 36px;
    }
    
    &__img-box {
      height: 180px;
      margin-left: 0;
      margin-top: 20px;
      margin-bottom: 48px;
      grid-row-start: 3;
      background-size: cover;
      border-radius: 24px;
      overflow: hidden;
    }
    
    &__main-text {
      margin: 0;
    }
  }
}