.services {
  position: relative;

  &__decorative-container::before {
    content: url("/images/services-page/Frame.svg");
    display: inline-block;
    position: absolute;
    top: 135px;
    left: 635px;
    width: 570px;
    height: 366px;
  }

  &__section-header {
    position: relative;
    top: 101px;
    left: 124px;
    z-index: 5;
    width: max-content;
    font-size: var(--primary-header-size);
    line-height: 0.9;
  }

  &__serv-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 75px 30px 99px 30px;
  }

  &__card-box {
    display: grid;
    place-items: center;
    margin-right: 8px;
    border-radius: 24px;
  }

  &__card-box.second {
    z-index: 10;
    backdrop-filter: blur(20px);
  }

  &__card-box:last-child {
    margin-right: 0;
  }

  &__card {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    gap: 24px;
    padding: 30px;
    border-radius: 24px;
    background: var(--serv-card-bg-color);
  }

  &__card-img {
    margin-bottom: 71px;
  }

  &__card-title {
    margin: 0;
    font-size: 24px;
    line-height: 0.9;
  }

  &__card-title.third {
    text-wrap: nowrap;
  }

  &__card-descr {
    margin: 0;
  }

  &__card-descr.third {
    margin-bottom: 41px;
  }

  &__btn.first {
    width: 305px;
  }

  &__btn.second {
    width: 332px;
  }

  &__btn.third {
    width: 316px;
  }


  @media only screen and (max-width: 480px) {
    &__decorative-container::before {
      content: url("/images/services-page/Frame-mobile.svg");
      top: 45px;
      left: 185px;
      width: 248px;
      height: 144px;
    }

    &__section-header {
      top: 36px;
      left: 16px;
      margin-bottom: 0px;
      font-size: 48px;
    }

    &__serv-list {
      flex-direction: column;
      margin: 55px 16px 16px 16px;
    }
    
    &__card-box {
      margin-right: 0;
      margin-bottom: 24px;
    }
    
    &__card-box.second {
      z-index: unset;
      backdrop-filter: unset;
    }

    &__card {
      padding: 16px;
      max-width: min-content;
    }
    
    &__card-img {
      margin-bottom: 32px;
    }
    
    &__card-title.third {
      text-wrap: wrap;
    }
    
    &__card-descr.third {
      margin-bottom: 0;
    }

    &__btn.first,
    &__btn.second,
    &__btn.third {
      width: 256px;
    }
  }
}