.services {
  position: relative;

  &__content {
    max-width: 1200px;
    margin: 0 auto;
  }

  // &__decorative-container::before {
  //   content: url("/images/services-page/Frame.svg");
  //   display: inline-block;
  //   position: absolute;
  //   top: 30px;
  //   right: 0px;
  //   // left: 635px;
  //   // width: 570px;
  //   // height: 366px;
  // }

  &__animation-container {
    display: block;
    position: absolute;
    top: -80px;
    left: -210px;
    width: 288px;
    height: 288px;
    background-color: rgba(102, 221, 141, .5);
    border-radius: 50%;
    filter: blur(100px);
    // opacity: 0%;
    transition: all 1s;
  }
  
  &__animation-container:hover {
    opacity: 100%;
  }

  &__section-header {
    position: relative;
    margin-left: 120px;
    z-index: 5;
    width: max-content;
    font-size: clamp(80px, 10.7vw, 130px);
    line-height: 0.9;
  }

  &__serv-list {
    display: flex;
    gap: 8px;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: -30px;
    margin-bottom: 99px;
    margin-left: 30px;
    margin-right: 30px;
    // min-width: fit-content;
  }

  &__card-box {
    display: flex;
    border-radius: 24px;
    z-index: 4;
  }

  &__card-box:first-child {
    flex: 1;
  }
  
  &__card-box:nth-child(2) {
    flex: 1;
    z-index: 10;
    backdrop-filter: blur(20px);
  }

  &__card-box:last-child {
    flex: 1; 
  }

  // &__card-box:last-child::after {
  //   content: url("/images/services-page/Frame.svg");
  //   display: inline-block;
  //   position: absolute;
  //   top: 25px;
  //   right: 0px;
  //   // left: 635px;
  //   // width: 570px;
  //   // height: 366px;
  // }
  
  &__card {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    gap: 24px;
    padding: 30px;
    border-radius: 24px;
    background: var(--serv-card-bg-color);
  }
  
  &__card-img {
    margin-bottom: 71px;
  }
  
  &__card-title {
    margin: 0;
    font-size: 24px;
    line-height: 0.9;
  }
  
  &__card-descr {
    margin: 0;
  }

  &__card-descr-third {
    margin-bottom: 41px;
  }

  &__btn {
    width: 100%;
    text-wrap: nowrap;
  }


  @media only screen and (orientation: portrait) {
    &__content {
      max-width: fit-content;
      margin: 0 auto;
    }

    &__decorative-container::before {
      content: url("/images/services-page/Frame-mobile.svg");
      top: 45px;
      left: 185px;
      width: 248px;
      height: 144px;
      display: none;
    }

    &__section-header {
      margin-top: 36px;
      margin-left: 0;
      margin-bottom: 0;
      font-size: 48px;
    }

    &__serv-list {
      flex-direction: column;
      gap: 24px;
      margin: 0 auto;
      margin-top: 16px;
      margin-bottom: 22px;
    }
    
    &__card-box {
      margin-right: 0;
      max-width: 60vw;
      min-width: 288px;
    }
    
    &__card-box:nth-child(2) {
      z-index: unset;
      backdrop-filter: unset;
    }

    &__card {
      padding: 16px;
      width: 100%;
    }
    
    &__card-img {
      margin-bottom: 32px;
    }
    
    &__card-descr-third {
      margin-bottom: unset;
    }
  }
}