//Oxygen
@font-face {
  font-weight: 400;
  font-family: 'Oxygen';
  font-style: normal;
  src: url('../fonts/oxygen-v15-latin-regular.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-weight: 700;
  font-family: 'Oxygen';
  font-style: normal;
  src: url('../fonts/oxygen-v15-latin-700.woff2') format('woff2');
  font-display: swap;
}

//Poppins
@font-face {
  font-weight: 400;
  font-family: 'Poppins';
  font-style: normal;
  src: url('../fonts/poppins-v21-latin-regular.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-weight: 500;
  font-family: 'Poppins';
  font-style: normal;
  src: url('../fonts/poppins-v21-latin-500.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-weight: 600;
  font-family: 'Poppins';
  font-style: normal;
  src: url('../fonts/poppins-v21-latin-600.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-weight: 700;
  font-family: 'Poppins';
  font-style: normal;
  src: url('../fonts/poppins-v21-latin-700.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-weight: 800;
  font-family: 'Poppins';
  font-style: normal;
  src: url('../fonts/poppins-v21-latin-800.woff2') format('woff2');
  font-display: swap;
}


//Manrope
@font-face {
  font-weight: 400;
  font-family: 'Manrope';
  font-style: normal;
  src: url('../fonts/manrope-v15-latin-regular.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-weight: 500;
  font-family: 'Manrope';
  font-style: normal;
  src: url('../fonts/manrope-v15-latin-500.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-weight: 600;
  font-family: 'Manrope';
  font-style: normal;
  src: url('../fonts/manrope-v15-latin-600.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-weight: 700;
  font-family: 'Manrope';
  font-style: normal;
  src: url('../fonts/manrope-v15-latin-700.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-weight: 800;
  font-family: 'Manrope';
  font-style: normal;
  src: url('../fonts/manrope-v15-latin-800.woff2') format('woff2');
  font-display: swap;
}