:root {
  --primary-font-fam: "Poppins", sans-serif;
  --secondary-font-fam: "Oxygen", sans-serif;
  --tertiary-font-fam: "Manrope", sans-serif;
  --primary-header-size: 128px;
  --secondary-header-size: 64px;
  --text-color: rgba(255, 255, 255);
  --background-color: rgba(17, 43, 69, 1);
  --primary-color: rgba(49, 91, 239, 1);
  --secondary-color: rgba(102, 221, 141, 1);
  --serv-card-bg-color: rgba(25, 63, 102, 0.32);
}